<body>
    <header>
        <h2>Quality Studios Barbershop</h2>
        <h3>About</h3>
    </header>
    {{> navBar}}
    <div style="text-align: center;">
        <h1>About This Site</h1>
        <p style="text-align: left; display: inline-block">
            This site helps you schedule appointments and find your barber's booksy or website. You also write reviews.<br>
            To schedule an appointment you need to be logged in.<br>
            
        </p>
        <br><br>
        <h2 style="text-align: left; display: inline-block">Contributors</h2><br>
        <p style="text-align: left; display: inline-block">Malik, Jahi, Brennan, Simeon</p>
    </div>
</body>