<body>
    <header>
        <h2>Quality Studios Barbershop</h2>
        <h3>About</h3>
    </header>
    {{> navBar}}
    <div style="text-align: center; width:100%">
    <div style= "display: inline-block; vertical-align:top; width:100%">
        <div class="AboutImages" style = "float: left;">
        <div class = "AboutImage" style="margin-right: 50%;">
        <img src="/img/About-imageL.png" height="100%" width="300px">
        </div>
        </div>
        <div class="AboutText">
        <p>
            JOLIET’S ONE STOP SHOP‼️
           </p>
            <ul style="text-align: center; list-style-position:inside; list-style-type:none">
                <li>
                    Nails
                </li>
                <li>
                    Lashes
                </li>
                <li>
                    Barbers
                </li>
                <li>
                    And More!
                </li>
            </ul>

         <p>
              Schedule an appointment with one of our Staff on the website or give us a call
        </p>
        <p>Located at 822 Plainfield road Joliet IL </p>
        <p>
            Standard Buisness Hours:
            <ul style="text-align: center; list-style-position:inside; list-style-type:none">
                <li>
                    Monday: 11AM - 7PM
                </li>
                <li>
                    Tuesday: 11AM - 7PM
                </li>
                <li>
                    &nbsp; Wednesday: 11AM - 7PM
                </li>
                <li>
                    Thursday: 11AM - 7PM
                </li>
                <li>
                    Friday: 11AM - 7PM
                </li>
                <li>
                    Saturday: 11AM - 7PM
                </li>
                <li>
                    Sunday: 11AM - 4PM
                </li>
            </ul>
        </p>
        <p> (Note these hours are subject to change without prior notice)</p>
        
    </div>
    <div class="AboutImages" style="float: right;">
    <div class = "AboutImage">
    <img src="/img/About-imageR.png" height="100%" width="300px" >
    </div>
    </div>

    </div>
    </div>
    <div style="text-align: center; background-color: #888;">
    <h1>About This Site</h1>
        
        
        <p style="text-align: left; display: inline-block">
            This site helps you schedule appointments and find your barber's booksy or website. You also write reviews.<br>
            To schedule an appointment you need to be logged in.<br>
            
        </p>
        <br><br>
        <h2 style="text-align: left; display: inline-block">Contributors</h2><br>
        <p style="text-align: left; display: inline-block">Malik, Jahi, Brennan, Simeon</p>
        </div>
        
    
</body>