<body>
    <div style=" position: top; width: 100%; height: 35vh; background: url(/img/qs_logo.png);
    background-size: 100%;background-repeat: no-repeat ;background-position: center; background-attachment: fixed;
    padding-bottom: 350px; " id = "header"> </div>
    <div style="text-align: center;" id= "navBar">
        <ul class="navigationBar" >
            <a class="navLink" href="/"><li style="float:left" class="navigationElement">Home</li></a>
            <a class="navLink" href="/map"><li style="float:left" class="navigationElement" >Map</li></a>
            <a class="navLink" href="/social"><li style="float:left" class="navigationElement" >Socials</li></a>
            <a class="navLink" href="/portfolio"><li style="float:left" class="navigationElement" >Portfolio</li></a>
            <a class="navLink" href="/staff"><li style="float:left" class="navigationElement" >Staff</li></a>
            <a class="navLink" href="/schedule"><li style="float:left" class="navigationElement">Schedule</li></a>
            <a class="navLink" href="/about"><li style="float:left" class="navigationElement">About</li></a>
            <a class="navLink" href="/reviews"><li style="float:left" class="navigationElement">Reviews</li></a>
        </ul>
        <br>
    </div>
    <div style="text-align: center;">
        <img src="/img/shop_google.png" width= 50%  height= auto alt="shop">
    </div>
    <div style= "background-color: black; text-align:right" id="Footer">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2986.402158072174!2d-88.1056392842565!3d41.53888897925043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e61ce2c9c9161%3A0x1e651a799cdded3b!2sQuality%20Studios!5e0!3m2!1sen!2sus!4v1636306578057!5m2!1sen!2sus" 
    width="300" height="300" style="border:0;" allowfullscreen=""  loading="lazy"></iframe>
    </div>
   <script>
        const bg = document.getElementById('header');
        var header = document.getElementsByClassName("navLink");
        const bar = document.getElementById('navBar')
        window.addEventListener('scroll',function(){
            bg.style.backgroundSize = 100- +window.pageYOffset/12+ '%'
            bg.style.opacity= 1 -+window.pageYOffset/700+ ''
            bar.style.marginTop =  bar.style.marginTop- (1000 +'px')
         
           for(i =0; i<header.length; i++){
               header[i].style.fontSize = 15+window.pageYOffset/20+'px';
           } 
       })
   </script>
</body>