<header>
    <h2>Quality Studios Barbershop</h2>
    <h3>Schedule</h3>
</header>
{{> navBar}}
{{#if user}}
    <p>Show schedule with option to register</p>
{{else}}
    <p>Show schedule without option to register</p>
{{/if}}
<form onsubmit="return updateResults()" style="margin-left: 100px;">
      <input type="text" placeholder="Search.." id="search">
      <button type="submit">Submit</button>
</form>
<br>

<form id="key" class="key">
    <label class="checkbox">Barber
        <input type="checkbox" checked="checked" id="barber" value="barber" onChange="return updateResults()">
        <span class="barber checkmark"></span>
    </label>
    <label class="checkbox">Lash Technician
        <input type="checkbox" checked="checked" id="lash technician" value="lash technician" onChange="return updateResults()">
        <span class="lash technician checkmark"></span>
    </label>
    <label class="checkbox">Other
        <input type="checkbox" checked="checked" id="other" value="other" onChange="return updateResults()">
        <span class="other checkmark"></span>
    </label>
</form>


{{#with staff}}
    {{{makeTable}}}
{{/with}}

{{> footer}}
<script>
    function updateResults() {    
    let searchItem = document.getElementById('search').value
    let checks = [document.getElementById('barber'), document.getElementById('lash technician'), document.getElementById('other')]
    let rows = Array.from(document.getElementById('schedule').rows).slice(1) //get rows but skip header rows
    console.log(rows)
    let state = true
    let e, name, col_class
    checks.forEach( e => {
        if (!e.checked) {
            state = false
        }
    })
    if (searchItem == '' && state) {
        for (let i = 0, len = rows.length ; i < len; i++) {  
            e = rows[i]
            console.log(e)
            e.style.display = ''  
        }
    }else{
        for (let i = 0, len = rows.length ; i < len; i++) { //Reminder: html collections don't have forEach()
            e = rows[i]
            name = e.id
            col_class = e.cells[0].className
            console.log(col_class)
            if (name.slice(0, searchItem.length).toLowerCase() == searchItem.toLowerCase() && document.getElementById(col_class).checked) {
                e.style.display = '' 
            }else if (document.getElementById(col_class).checked && searchItem == '') {
                e.style.display = '' 
            } else {
                e.style.display = 'none'
            }
        }
    }
    return false//Prevent refresh
}

</script>