<header>
    <h2>Quality Studios Barbershop</h2>
    <h3>Schedule</h3>
</header>
{{> navBar}}
{{#if user}}
    <p>Show schedule with option to register</p>
{{else}}
    <p>Show schedule without option to register</p>
{{/if}}