body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif ;
}


header {
    text-align: center
}

a, button {
    font: 12px Arial;
}

h2, h3 {
    font-family: Arial;
}

.navigationBar {
    z-index: 1;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigationButton {
    display:block;
    border:none;
    color:white;
    background-color: #888;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0ms;
}

.navigationButton:hover{
background-color: #111;

}

.navLink:link {
    color: white;
    text-decoration: none;
}
.navLink:visited {
    color: white;
    text-decoration: none;
}
.navLink:hover {
    color: white;
    text-decoration: none;
}
.navLink:active {
    color: white;
    text-decoration: none;
}

.navigationElement {
    display:block;
    color:white;
    background-color: #888;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationElement:hover {
    background-color: #111;
}
.logo {
    /*width:500px;*/
}

.Footer{
background-color:rgba(0,0,0, 0.9);
}
.FooterText{
    color: white;
}
#slideshow { 
    z-index: -1;
    margin: 50px auto; 
    position: relative; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  }
  
  #slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
  }